body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

.keyboard-title {
    color: rgb(233, 128, 7);
    text-align: center;
}

.text-area {
    display: block;
    width: 700px;
    height: 200px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 18px;
    color: #444444;
}